body {
    background-color: silver;
    margin: 0;
    padding: 0;
    font-family: arial black;
}

div.head {
    background-color: silver;
    position: fixed;
    top: 0;
    height: 180px;
    width: 100%;
    z-index: 100;
}

div.user_info {
    width: 290px;
    height: 90px;
    right: 0px;
    position: fixed;
    text-shadow: 0.1em 0.1em 0.1em gray;
    text-align: center;
    background: url('pyramid.png');
    z-index: 1000;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 5px gray;
}

div.logo {
    z-index: 200;
    height: 160px;
    width: 280px;
    position: fixed;
    left: 350px;
    top: 0px;
    background: url('musickNSE3.png');
}

div.logo a {
    display: block;
    height: 160px;
    width: 280px;
}

div.logo a:hover {
    background: url('musick2.png') no-repeat;
    background-position: 2px 0;
}

div.wrapper {
    min-height: 100%;
    margin-top: 180px;
    background-color: silver;
}

div.playlist-links {
    margin-left: 0;
    margin-right: 0;
    top: 180px;
    width: 180px;
    height: auto;
    right: 13px;
    position: fixed;
    z-index: 100;
    border-radius: 15px;
    border: 5px;
    border-style: solid;
    border-color: white;
    background: url('pyramid.png');
    text-shadow: 0.1em 0.1em 0.1em gray;
    box-shadow: 10px 10px 5px gray;
}

a:link {
    text-decoration: none;
    color: #FF0099;
}

a:visited {
    color: #9900FF;
}

a:hover {
    color: white;
    background-color: black;
}

div.search {
    text-align: center;
    width: 200px;
    height: 75px;
    top: 80px;
    left: 0px;
    background-color: black;
    color: white;
    border: 1px gray;
    border-style: solid;
    position: fixed;
    z-index: 100;
}

div.blogroll {
    margin-left: 0;
    margin-right: 0;
    top: 180px;
    left: 13px;
    width: 180px;
    height: 395px;
    position: fixed; 
    z-index: 100;
    border-radius: 15px;
    border: 5px;
    border-style: solid;
    background: url('pyramid.png');
    border-color: white;
    text-shadow: 0.1em 0.1em 0.1em gray;
    box-shadow: 10px 10px 5px gray;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}

div.black-bar {
    background-color: black;
    width: 525px;
    height: 30px;
    bottom: 180px;
    top: 150px;
    right: 240px;
    position: fixed;
    z-index: 1000;
}

div#black-bar {
    width: 525px;
    position: fixed;
    background-color: black;
    height: 135px;
    margin-top: -30px;
    z-index: 1001;
    padding-top: 15px;
}

div.black-box {
    width: 525px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 30px 0 30px;
    position: relative;
}

ul#songlist {
    width: 300px;
    margin-top: 125px;
    /*background: url('pyramid.png');*/
    background-color: #00FFCC;
    padding: 0;
    margin-left: auto;
    margin-right: auto;   
    list-style-type: none;

}

li.song {
    display: block;
    border-bottom: dotted 1px black;
    text-align: center;
    background-color: white;
}

div.name {
    color: gray;
}

div.jp-audio {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

div.login {
    width: 300px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
    background: url('pyramid.png');
    border-width: 5px;
    border-style: groove;
    border-radius: 15px;
}

div.form {
    width: 300px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
    text-align: right;
    background: url('pyramid.png');
    border-width: 5px;
    border-style: groove;
    border-radius: 15px;
}

div.next {
    width: 100px;
    height: 20px;
    position fixed;
    padding-left: 775px;
}

div.select {
    color: white;
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0px;
    top: 180px;
    padding-bottom: 50px;
}

div.playlist {
    width: 180px;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: black;
    color: white;
}
