body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: arial black;
}

div.head {
    /*background-color: #DCDCDC;*/
    background-color: silver;
    position: fixed;
    top: 0;
    height: 134px;
    width: 100%;
    z-index: 100;
}

div.drippy {
    z-index: 500;
    width: 81;
    height: 432px;
    bottom: 200px;
}

div.user_info {
    width: 290px;
    height: 90px;
    right: 0px;
    position: fixed;
    text-shadow: 0.1em 0.1em 0.1em gray;
    /*text-align: right;*/
    text-align: center;
    background: url('pyramid.png');
    z-index: 1000;
    border-style: groove;
    border-radius: 15px;
}

div.user {
}

div.pword {
}

/*div.side {
    right: 0px;
    top: 0;
    height: 110px;
    background-color: silver;
    border-color: #00CCCC;
    border-width: 10px;
    border-style: groove;
    width: 25px;
    position: fixed;
}*/

/*div.info-bar {
    width: 100%;
    height: 25px;
    background: url('pyramid.png');
    border-width: 10px;
    z-index: 1000;
    position: fixed;
}*/

div.black {
    width: 100%;
    background-color: black;
    top: 130px;
    height: 28px;
    z-index: 100;
    position: fixed;
}

div.wrapper {
    min-height: 100%;
    margin-top: 180px;
    /*background: url('pyramid.png');*/
    /*background-color: #00CCCCC;*/
    background-color: black;
}

div.playlist-links {
    margin-left: 0;
    margin-right: 0;
    top: 180px;
    width: 180px;
    height: 395px;
    right: 13px;
    position: fixed;
    z-index: 100;
    border-radius: 15px;
    border: 5px;
    border-style: groove;
    background: url('pyramid.png');
    text-shadow: 0.1em 0.1em 0.1em gray;
}

a:link {
    text-decoration: none;
    color: #FF0099;
}

a:visited {
    color: #9900FF;
}

a:hover {
    color: white;
    background-color: black;
}

div.blogroll {
    margin-left: 0;
    margin-right: 0;
    top: 180px;
    left: 13px;
    width: 180px;
    height: 395px;
    position: fixed; 
    z-index: 100;
    border-radius: 15px;
    border: 5px;
    border-style: groove;
    background: url('pyramid.png');
    text-shadow: 0.1em 0.1em 0.1em gray;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}

div.song-list {
    min-height: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

div.jp-audio {
    margin-left: auto;
    margin-right: auto;
}
