<html>
<link rel=stylesheet href="/static/style.css" type="text/css">
<body style="text-align: center">
        
	<h1>Bad username or password</h1>
        <div class="login">
	<form name="input" action="{% url login %}" method="post">
		{% csrf_token %}

	    <div class="user">
	       Username: <input type="text" name="user" />
        </div>
	    <div class="pword">
	       Password: <input type="password" name="password" />
     	</div>
	    <div class="button">
	        <input type="submit" value="Submit" />
        </div>
    </form>
    </div>
    <a href="/">GO BACK HOME!!!!!</a>
</body>
</html>
